
Options +Includes

AddHandler server-parsed .html
AddType text/html .html

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 91.121.170.

deny from 188.143.232.
deny from 173.16.214.
